.button {
  background-color: white;
  border: none;
  color: #333;
  padding: 8px 16px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.secondary {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.tertiary {
  background-color: transparent;
  color: white;
  border: 1px solid transparent;
}
